.container {

background-color: aquamarine;
height: 200px;


Display: flex; 
flix-direction: row;
flex-wrap: wrap;

justify-content: center;
alingn-items: center; 

aligh-content: center;

}
.container div {
    background-color: #25795d;
    color: white;
    width: 120px;
    height: 80px;
    font-size: 16px;
    margin: 5px
}